body {
    background-color: rgb(86,86,86);
    color: whitesmoke;
}

main {
    margin-top: 70px;
}

.header_container {
    display: flex;
    justify-content: center;
}

.header_container h1 {
    position: relative;
    padding: 10px;
    margin: 5px;
    background-color: rgb(32,32,32);
    animation: top-to-bottom 1s;
}

.header_container h1::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 50px;
    background-color: rgb(27,27,27);
    left: -20px;
    top: -10px;
    z-index: -1;
}

.header_container h1::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 50px;
    background-color: rgb(27,27,27);
    right: -20px;
    bottom: -10px;
    z-index: -1;
}

#companies_container {
    position: relative;
    display: inline-flex;
    justify-content: center;
    margin-top: 30px;
    width: 100%;
}

#companies_container ul {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

#companies_container ul > li {
    width: 300px;
    min-height: 300px;
    list-style: none;
    background-color: rgb(43,43,43);
    border-radius: 10px;
    display: inline-flex;
    justify-content: flex-start;
    flex-direction: column;
    animation: bottom-to-top 1s;
}

#companies_container ul > li > a {
    display: flex;
    position: relative;
    justify-content: center;
    width: 300px;
    height: 200px;
    background-color: rgb(33,33,33);
    background-size: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#companies_container ul > li > a::before {
    content: "";
    position: absolute;
}

#companies_container ul > li > h3 {
    padding: 10px;
    align-self: center;
}

#companies_container ul > li > p {
    padding: 10px;
    padding-top: 0;
    overflow-wrap: break-word;
}

#companies_container ul > li a > img {
    width: 200px;
    height: 200px;
}
